<html>
    <head>
        <meta charset="utf-8">
        <link href="/main.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <title></title>
    </head>
    <body>
        <h1>NFT show page</h1>

        <aside class="main-container"><img src='<%=nfts.img%>'></aside>
        <div class="main-container-1">
          <ul>
            <li>Name: <%=nfts.name%></li>
            <li>Number: <%=nfts.number%></li>
            <li>Rarity: <%=nfts.rarity%></li>
            <li><a href="<%=nfts.opensea%>">Opensea Link: <%=nfts.opensea%></a></li>
          </ul>

        </div>
        <nav class="main-container">
            <a href="/nfts">Back to Index</a>
        </nav>

    </body>
</html>
